  
  body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }
  
  h1 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px; 
    }

  /* Style the tweet container */
    .tweet-container {
      background-color: #f5f5f5;
      border: 2px solid #ccc;
      padding: 20px;
      margin: 20px auto; /* Center the container horizontally */
      max-width: 600px; 
      display: inline-flexbox;  /* Make the container fit its content */
      border-radius: 5px;
      text-align: center;
  }

  /* Style the tweet title */
  .tweet-container h3 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #333;
      font-family: Arial, sans-serif;
      font-weight: bold;
  }

  /* Style the tweet text */
  .tweet-container p {
      font-size: 16px;
      color: #666;
      font-family: Arial, sans-serif;
  }

  /* CREATE TWEET STYLE */

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; 
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    margin: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #36b95d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; 
}

button[type="submit"]:hover {
    background-color: #18e254;
}
